body {
  font-family: Cochin;
  color: #A9A9A9;
}

.container {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
}

#firstrow{
  width: 100%;
  height: 75px;
  background-color: white;
}

#secondrow {
  text-align: center; 
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 0px;
}

#welcome {
  padding-bottom: 20px;
  padding-top: 20px;
}

#highlight{
  background-image: url(../images/highlight.png);
  background-repeat: no-repeat;
  background-size: 280px 40px;
}

#thirdrow {
  text-align: center; 
  width: 100%;
  background-color: white;
  vertical-align: top;
}

#marcus {
  width: 300px;
  height: auto;
  padding-top: 30px;
}

.form-style{
    width: 600px;
    padding-bottom: 0px;
    background-color: white;
    margin: 0px auto;
    text-align: middle;
}

.form-style input[type="email"],
.form-style select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    width: 200px;
    padding-right: 7px;
    padding-left: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px;
    height: 45px;
    margin-right:15px;
    color: rgba(255, 0, 255, 0.4);
}

.form-style button[type="email"], 
.form-style input[type="submit"]{
    background-color: white;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 900;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    width: 50px;
}
.form-style button[type="email"]:hover, 
.form-style input[type="submit"]:hover {
    background:linear-gradient(to bottom, rgba(255, 0, 255, 0.1) 5%, rgba(255, 0, 255, 0.1) 100%);
    background-color:rgba(255, 0, 255, 0.1);
    color: white;
}